.projectContainer{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.gridContainer{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    grid-template-columns: auto auto; 
}

.project {
    padding: 20px;
    position: relative;
}
.projectImage{
    border-radius: 9px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.content{
    width: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.project:hover .projectImage{
    opacity: 0.2;
    background: rgba(255, 255, 255, 0);
}
.project:hover .content{
    opacity: 1;
    top: 50%;
    left: 50%;
}
.content h3{
    color: black;
    font-weight: 900;
}
.contentDesc{
    text-align: start;
    font-weight: 500;
}
.techs{
    display: flex;
    gap: 10px;
}
.tech{
    width: 100%;
    height: 100%;
    background-color: rgb(142, 117, 117);
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}

/* Mobile */
@media screen and (max-width:480px) {
    .gridContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .projectImage{
        width: 200px;
        height: 200px;
    }
}
